@use './fonts';
@use './variables' as *;


body {
  margin: 0;
  font-family: $font-primary;
  line-height: 1.5;
  background-color: #F6F6F6;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}