$font-primary: 'Cairo', sans-serif;
$font-secondary: 'Open Sans', sans-serif;
$font-tertiary: 'Inter', sans-serif;
$font-mono: 'Roboto Mono', monospace;
$font-roboto: 'Roboto', sans-serif;

$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;

$white: #ffffff;
$black: #000000;
$primary-color: #242edb;
$text-primary: #232323;
$text-secondary: #9c9c9c;
$text-tertiary: #6c6c6c;
$line-border: #ededed;
$border-button: #367aff;
$dark-gray: #333;
$search-input-bg: #f3f3f3;
$gray: #999;
$light-gray: #b2b3b9;
$purple: #5b5ef7;
$pagination-text: #8c8c8c;
$table-border: #ececeb;
$price-color: #222;
$title-color: #202020;

$fs-small: 14px;
$fs-medium: 16px;
$fs-large: 18px;
$fs-xlarge: 40px;

$radius-small: 6px;
$radius-medium: 8px;
$radius-large: 12px;
$radius-xlarge: 23px;
$radius-xxlarge: 34px;
$radius-giant: 40px;
