@use 'shared/styles/variables' as *;

.loginCard {
  background: $white;
  border-radius: $radius-giant;
  padding: 6px;
  box-shadow: 0 24px 32px 0 rgba(0, 0, 0, 0.04);
  width: 100%;
  max-width: 527px;
  box-sizing: border-box;
}

.shadowContainer {
  position: relative;
  border-radius: $radius-xxlarge;
  padding: 48px;
  width: 100%;
  box-sizing: border-box;
  background: linear-gradient(180deg, rgba(35, 35, 35, 0.03) 0%, rgba(35, 35, 35, 0) 50%);

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 1px;
    background: linear-gradient(180deg, rgba(237, 237, 237, 1) 20%, rgba(237, 237, 237, 0) 100%);
    -webkit-mask: linear-gradient($white 0 0) content-box, linear-gradient($white 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }
}

.title {
  margin: 0;
  font-family: $font-tertiary;
  font-weight: $fw-semi-bold;
  font-size: $fs-xlarge;
  letter-spacing: -0.01em;
  color: $text-primary;
}

.text {
  font-family: $font-tertiary;
  font-weight: $fw-medium;
  font-size: $fs-large;
  background-color: $light-gray;
  color: transparent;
  text-shadow: 0 4px 4px rgba(255, 255, 255, 0.9);
  background-clip: text;
}

.inputLabel {
  font-family: $font-tertiary;
  font-weight: $fw-medium;
  font-size: $fs-large;
  letter-spacing: -0.01em;
  color: $text-primary;
}

.input {
  border: 1.5px solid $line-border;
  font-weight: $fw-medium;
  font-size: $fs-large;
  letter-spacing: -0.01em;
  color: $text-primary;
  padding: 14px 16px;

  :global(.ant-input-prefix) {
    margin-right: 8px;
    color: $text-secondary;
  }

  :global(input.ant-input::placeholder) {
    color: $text-secondary;
  }
}

.checkboxText {
  font-family: $font-tertiary;
  font-weight: $fw-medium;
  font-size: $fs-medium;
  color: $text-secondary;
}

.button {
  border: 1px solid $border-button;
  border-radius: $radius-large;
  padding: 24px 12px;
  font-family: $font-tertiary;
  font-weight: $fw-semi-bold;
  font-size: $fs-large;
  color: $white;
}

.divider {
  font-family: $font-tertiary;
  font-weight: $fw-medium;
  font-size: $fs-medium;
  color: $text-secondary;
  display: flex;
  align-items: center;
  width: 100%;

  &::before,
  &::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid $line-border;
  }

  span {
    background-color: $light-gray;
    color: transparent;
    text-shadow: 0 2px 3px rgba(255, 255, 255, 0.9);
    background-clip: text;
    margin: 0 10px;
  }
}

.noAccountText {
  font-family: $font-tertiary;
  font-weight: $fw-regular;
  font-size: $fs-large;
  text-align: center;
  color: $text-tertiary;

  .link {
    font-weight: $fw-semi-bold;
    font-size: $fs-large;
    text-decoration: underline;
    text-decoration-skip-ink: none;
  }
}
