.logo {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  box-shadow: inset 0 12px 8px 0 rgba(0, 0, 0, 0.03), 0 0 0 2px #fff;
  background:
          linear-gradient(rgba(237, 237, 237, 0.7) 0%, rgba(237, 237, 237, 0) 70%) border-box,
          linear-gradient(360deg, rgba(35, 35, 35, 0) 50%, rgba(35, 35, 35, 0.06) 100%) padding-box,
          #fff;
}
