@use 'shared/styles/variables' as *;

.logo {
  position: relative;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.03), 0 0 0 2px $white;
  background: linear-gradient(360deg, rgba(35, 35, 35, 0) 50%, rgba(35, 35, 35, 0.06) 100%) content-box, $white;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 1px;
    background: linear-gradient(180deg, rgba(237, 237, 237, 0.7) 0%, rgba(237, 237, 237, 0) 70%);
    -webkit-mask: linear-gradient($white 0 0) content-box, linear-gradient($white 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }
}
